.container{
    margin: 4em 0 8em 0;
    h1{
        margin: 1em  0 1em .5em;
    }
    
    .blog{
        display: flex;
        &__search{
         width: 25%;
         display: flex;
         flex-direction: column;
         padding:0  1em ;
    
         input{
            background: url(../../../public/images/Iconcolor.png) no-repeat scroll 100% 7px;
    
            width: 100%;
            padding: 1em 0;
            border-top: none;
            border-left: none;
            border-right: none;
            &::placeholder{
                font-size: 1.4em;
                font-weight: 600;
            }
            margin-bottom: 3em;
        }
    
        .categories{
    
            ul{
                list-style: none;
                li{
                    margin: 1em 0;
                }
            }
        }
    
        }
    
        &__articles{
            width: 75%;
            .grid{
                padding: 0em 2em;
                display: grid;
                gap: 3em;
                grid-template-columns: repeat(2,1fr);
               .card{
                width: 100%;
                h2{
                  font-size: 1.2em;
                    margin: .5em 0;
                }
                img{
                    width: 100%;
                    height:300px
                }
               } 
            }
        }
    }

}