@import "../../../public/styles/color.module.scss";


.informations{

    &__infos{
        margin:0 0 2em 0;
        ul{
            list-style: none;
            li{
                margin: .8em 0;
            }
        }
    }

    &__grid{
    h2{
        margin-bottom: 2em;
    }
   }
}