.shop {
  margin: 5em 0EM 8em 0;
}
.shop .shopstore {
  padding: 2em 0;
  display: flex;
}
.shop .shopstore__search {
  padding: 0em 1em;
  width: 25%;
  height: 100%;
}
.shop .shopstore__search .search-input input {
  background: url(../../../public/images/Iconcolor.png) no-repeat scroll 100% 7px;
  width: 100%;
  padding: 1em 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.shop .shopstore__search .search-input input::-moz-placeholder {
  font-size: 1.4em;
  font-weight: 600;
}
.shop .shopstore__search .search-input input::placeholder {
  font-size: 1.4em;
  font-weight: 600;
}
.shop .shopstore__search .select-input {
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
}
.shop .shopstore__search .select-input select {
  padding: 1em 0.5em;
  margin: 1em 0 0.5em 0;
  font-size: 1.2em;
  font-weight: 600;
}
.shop .shopstore__search .price-range {
  margin: 2em 0;
}
.shop .shopstore__search .price-range progress {
  width: 100%;
  -webkit-appearance: none;
}
.shop .shopstore__search .price-range ::-webkit-progress-bar {
  background-color: rgba(224, 198, 3, 0.874);
}
.shop .shopstore__search .price-range__text {
  display: flex;
  justify-content: space-between;
}
.shop .shopstore__search .on-sale, .shop .shopstore__search .in-stock {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}
.shop .shopstore__search .on-sale .switch, .shop .shopstore__search .in-stock .switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}
.shop .shopstore__search .on-sale .switch input, .shop .shopstore__search .in-stock .switch input {
  display: none;
}
.shop .shopstore__search .on-sale .slider, .shop .shopstore__search .in-stock .slider {
  background-color: #313131;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.shop .shopstore__search .on-sale .slider:before, .shop .shopstore__search .in-stock .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}
.shop .shopstore__search .on-sale input:checked + .slider, .shop .shopstore__search .in-stock input:checked + .slider {
  background-color: #cecece;
}
.shop .shopstore__search .on-sale input:checked + .slider:before, .shop .shopstore__search .in-stock input:checked + .slider:before {
  transform: translateX(26px);
}
.shop .shopstore__search .on-sale .slider.round, .shop .shopstore__search .in-stock .slider.round {
  border-radius: 34px;
}
.shop .shopstore__search .on-sale .slider.round:before, .shop .shopstore__search .in-stock .slider.round:before {
  border-radius: 50%;
}
.shop .shopstore__articles {
  width: 75%;
  height: 100%;
}
.shop .shopstore__articles .grid {
  padding: 0em 2em;
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
}
.shop .shopstore__articles .grid .card {
  width: 100%;
}
.shop .shopstore__articles .grid .card h2 {
  font-size: 1.2em;
  margin: 0.5em 0;
}
.shop .shopstore__articles .grid .card img {
  width: 100%;
  height: 300px;
}/*# sourceMappingURL=shop.module.css.map */