.footer{
    position: relative;
    margin-top: 2em;
    &::after{
        content: '';
        position: absolute;
        top: -5px;
        border: 1px dashed rgba(0, 0, 0, 0.267);
        left: 0;
        width: 100%;
        height: 0px;
    }
    &__terms{
        padding: 3em 0;
        display: flex;
        width: 100%;
        justify-content: space-between;

        .terms-link{
            ul{
                display: flex;
                list-style: none;
                li{
                    font-size: 1.3em;
                  margin-right: 2em;
                  a{
                    text-decoration: none;
                    color: black;
                  }
                }
            }
        }
        .terms-newsletter{
            input{
                background: url(../../../public/images/arrow.png) no-repeat scroll 100% 15px;

                border-right: none;
                border-top: none;
                border-left: none;width: 300px;
                padding: 1em 4em 1em 0em;
            &:focus{
                outline: none;
            }
            &::placeholder{
                font-size: 1.2em;
                font-weight: 600;
            }
            }
            
        }
    }


    &__policy{
        padding: 3em 0;

        width: 100%;
        display: flex;
        justify-content: space-between;
        .reseau{
            ul{
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                
                li{
                  margin-left: 1em;
                  display: flex;
                  align-items: center;

                  i{
                    font-size: 1.5em;
                  }
                }
            }
        }
    }
}